*::-webkit-scrollbar{
    width: 0;
}

/*------------- GALERIA --------------*/

#galeria {
    /* padding-top: 12%; */
}

.foto {
    width: 50vw;
}

#fullscreen div {
    height: unset;
    width: 80%;
}

#fullscreen p {
    top: -45px;
    right: 4%;
}

/*------------- RODAPE --------------*/

.rodape {
    padding: 10px;
    grid-template-areas:
        "esquerda esquerda esquerda"
        "direita direita direita";
    grid-template-rows: 60% 40%;
    row-gap: 30px;
}

.descricao {
    font-size: 1rem;
}

.descricao h4 {
    font-size: 1.3rem;
    margin: 0;
}

.foto_time {
    height: 100%;
    aspect-ratio: 1.4/1;
    margin-left: 0;
}

.esquerda {
    gap: 5px;
}

.descricao-legenda {
    height: 100px;
    overflow-y: scroll;
}

.direita {
    margin-bottom: 40px;
    display: grid;
    grid-template-areas:
        "contato         .    "
        "telefone  socialmedia"
        " email          .    ";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33% 33% 33%;
    place-items: center;
    gap: 0;
}

.direita h4 {
    grid-area: contato;
    font-size: 1.2rem;
}

.telefone {
    grid-area: telefone;
    font-size: .7rem;
}

.email {
    grid-area: email;
    font-size: .7rem;
}

.socialmedia {
    grid-area: socialmedia;
    font-size: 1rem;
    line-height: 100%;
    margin: 0;
}