@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../fonts/fonts.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    background-color: #fff;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: background-color .5s;
    padding: 2vh;
    position: fixed;
    z-index: 99;
}

nav img {
    width: 50%;
}

nav ul {
    display: flex;
    font-family: montserrat;
    user-select: none;
    list-style: none;
}

nav a {
    margin: 0 1vw;
    color: #fff;
    font-weight: 400;
    font-size: 120%;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: .3s ease-in-out;
}

nav a:hover::after {
    transform: scaleX(1);
}

.home {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, transparent 70%, #000 200%), url('https://images.pexels.com/photos/2253870/pexels-photo-2253870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
}

.galeria {
    width: 100%;
    height: 170vh;
    position: relative;
    z-index: -1;
}

.galeria .foto {
    width: 10%;
    aspect-ratio: 1;
    position: absolute;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-family: montserrat;
    color: rgb(12, 243, 27);
    font-weight: 900;
}

.foto#img1 {
    width: 10%;
    aspect-ratio: 1/1.5;
    right: 40%;
    bottom: 20%;
    /* border: 10px solid rgb(199, 77, 221); */
    background-image: url('https://images.pexels.com/photos/2496324/pexels-photo-2496324.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
}

.foto#img2 {
    width: 10%;
    left: 15%;
    bottom: 45%;
    /* border: 10px solid rgb(255, 183, 0); */
    background-image: url('https://images.pexels.com/photos/8815290/pexels-photo-8815290.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.foto#img3 {
    width: 12%;
    aspect-ratio: 1.2/2;
    left: -2%;
    top: 0;
    /* border: 10px solid rgb(234, 255, 0); */
    background-image: url('https://images.pexels.com/photos/948185/pexels-photo-948185.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.foto#img4 {
    width: 20%;
    aspect-ratio: 1/1.4;
    left: -5%;
    top: 62%;
    /* border: 10px solid rgb(98, 255, 7); */
    background-image: url('https://images.pexels.com/photos/1589820/pexels-photo-1589820.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.foto#img5 {
    width: 20%;
    aspect-ratio: 1/1.7;
    right: -5%;
    bottom: 2%;
    /* border: 10px solid rgb(0, 255, 191); */
    background-image: url('https://images.pexels.com/photos/1295979/pexels-photo-1295979.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
}

.foto#img6 {
    right: 50%;
    top: 20%;
    /* border: 10px solid rgb(32, 147, 255); */
    background-image: url('https://images.pexels.com/photos/3785644/pexels-photo-3785644.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.foto#img7 {
    width: 15%;
    aspect-ratio: 1.5/1.2;
    top: 20%;
    right: 40%;
    /* border: 10px solid rgb(38, 0, 255); */
    background-image: url('https://images.pexels.com/photos/1646730/pexels-photo-1646730.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.foto#img8 {
    width: 15%;
    aspect-ratio: 2/1.5;
    right: -1%;
    top: 12%;
    /* border: 10px solid rgb(111, 24, 186); */
    background-image: url('https://images.pexels.com/photos/341372/pexels-photo-341372.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.foto#img9 {
    width: 10%;
    aspect-ratio: 2/1.5;
    right: 30%;
    top: 0%;
    /* border: 10px solid rgb(255, 0, 217); */
    background-image: url('https://images.pexels.com/photos/1024993/pexels-photo-1024993.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.container-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    font-family: ragasta;
    font-size: 400%;
    letter-spacing: 5px;
}

.container-galeria a {
    font-size: 50%;
    font-family: montserrat;
    color: #000;
    letter-spacing: 5px;
    position: relative;
}

.container-galeria a::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    transform-origin: left;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    transition: .3s;
    z-index: -1;
}

.container-galeria a:hover::after {
    transform: scaleX(1);
}

.container-galeria a:hover {
    color: #fff;
}

/*-------------- SOBRE -----------------*/

#sobre {
    margin: 5vh 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 50vw;
    height: 30vw;
    background-image: url('https://images.pexels.com/photos/403495/pexels-photo-403495.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
}

#sobre .texto {
    width: 50vw;
    padding: 30px;
    font-family: montserrat;
    font-size: 23px;
}

#sobre .texto h4 {
    font-family: ragasta;
    font-size: 100px;
    font-weight: 100;
    line-height: 100px;
}

/*---------------- DUVIDAS ----------------*/

#duvidas {
    background-color: #000;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-duvidas h4 {
    margin-bottom: 3%;
    font-family: ragasta;
    font-size: 40px;
    color: #000;
    letter-spacing: 2px;
    line-height: 40px;
}

.container-duvidas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 2%;
}

.duvida {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 50vh;
    padding: 0 30px;
    background-color: #fff;
    border-radius: 30px;
}

.duvida p {
    color: #fff;
    font-family: montserrat;
    font-weight: 500;
    color: #000;
    font-size: 17px;
}

.titulo {
    margin: 2%;
    font-family: ragasta;
    font-size: 100px;
    font-weight: 100;
    color: #fff;
}

/*------------- DEPOIMENTOS --------------*/

#depoimentos {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 0 30px;
}

#depoimentos .titulo {
    color: #000;
    margin: 0% 30% 1% 0;
}

.container-depoimento {
    height: 53%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3% 1%;
    flex-wrap: wrap;
}

.depoimento {
    background-color: #000;
    color: #fff;
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-family: montserrat;
    gap: 0 20px;
    padding: 30px 40px;
    border-radius: 30px;
}

.depoimento p {
    font-weight: 200;
}

.depoimento .perfil {
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px 0;
}

.depoimento .nome {
    font-family: montserrat;
    font-size: 110%;
    font-weight: 500;
    text-align: center;
}

.depoimento .foto {
    aspect-ratio: 1/1;
    width: 70px;
    border-radius: 50%;
    background-image: url('https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}

/*-------------------------  INSTAGRAM ----------------------------*/

#instagram {
    margin-top: 30px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arroba {
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arroba h3 {
    font-family: ragasta;
    margin: 0 20px;
    font-size: 200%;
}

.posts {
    margin-top: 5%;
    width: 100vw;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.post:nth-child(1) {
    background-image: url('https://images.pexels.com/photos/7062226/pexels-photo-7062226.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.post:nth-child(2) {
    background-image: url('https://images.pexels.com/photos/4464484/pexels-photo-4464484.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.post:nth-child(3) {
    background-image: url('https://images.pexels.com/photos/3841412/pexels-photo-3841412.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.post:nth-child(4) {
    background-image: url('https://images.pexels.com/photos/14563547/pexels-photo-14563547.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

.post:nth-child(5) {
    background-image: url('https://images.pexels.com/photos/3104181/pexels-photo-3104181.jpeg?auto=compress&cs=tinysrgb&w=1600');
}

hr {
    width: 50vw;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

/*---------------- PREMIOS ------------------*/

#premios {
    position: relative;
    height: 1200px;
    background-image: url('https://images.pexels.com/photos/305086/pexels-photo-305086.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}

.premios img {
    width: 10%;
    position: absolute;
    top: 45%;
    left: 25%;
}

.premios img:nth-child(2) {
    transform: translateX(170%);
}

.premios img:nth-child(3) {
    transform: translateX(-170%);
}

#premios h3 {
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 600%;
    font-weight: 100;
    line-height: 80%;
    font-family: ragasta;
    text-align: center;
}


/*------------------ CURSO ---------------------*/

#curso {
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, .95) 100%), url('https://images.pexels.com/photos/821749/pexels-photo-821749.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    position: relative;
}

.intro img {
    width: 60%;
    background-color: red;
}

.intro {
    position: absolute;
    left: 50%;
    top: 10%;
    margin: 0 auto;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px 0;
}

.intro p {
    color: #fff;
    font-family: montserrat;
    font-size: 150%;
    text-align: center;
}

.intro a {
    color: #fff;
    font-family: montserrat;
    font-weight: 100;
    unicode-range: U+F00-FFF;
}

.infos {
    position: absolute;
    color: #fff;
    font-family: 'montserrat';
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
}

.container h4 {
    font-family: 'ragasta';
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .5s;
    overflow: hidden;
}

.info1 {
    width: 50%;
    height: 35%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5%;
    position: absolute;
    left: 10%;
    top: 0;
    border-top-left-radius: 20px;
}

.info1 h4 {
    font-size: 200%;
    margin-bottom: 2%;
    line-height: 100%;
    text-align: center;
}

.info2 {
    border: 2px solid #fff;
    width: 24%;
    height: 42%;
    padding: 1%;
    padding: 1.5%;
    position: absolute;
    left: 10%;
    top: 38%;
    border-bottom-left-radius: 20px;
}

.info2:hover,
.info1:hover {
    background-color: #fff;
    color: #000;
    cursor: default;
}

.info2 h4 {
    font-size: 200%;
    margin-bottom: 2%;
    text-align: center;
}

.info3 {
    width: 24%;
    height: 42%;
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 38%;
    left: 36%;
    padding: 1.5%;
}

.info3 h4 {
    font-size: 200%;
    margin-bottom: 2%;
    text-align: center;
}

.info4 {
    background-color: #fff;
    color: #000;
    width: 28%;
    height: 80%;
    padding: 3%;
    position: absolute;
    right: 10%;
    top: 0;
    font-size: 114%;
    border-radius: 0 20px 20px 0;
}

.info4 h4 {
    font-size: 300%;
    line-height: 100%;
    margin-bottom: 5%;
    text-align: center;
}

.info3:hover,
.info4:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: default;
}

.recado {
    text-align: center;
    position: absolute;
    color: #fff;
    bottom: 9%;
    width: 50%;
    left: 25%;
    font-family: 'montserrat';
    font-weight: 200;
}

.recado h4 {
    font-family: 'ragasta';
    font-size: 300%;
    margin-bottom: 0.5%;
}

/*------------------ RODAPÉ -------------------*/

.rodape {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

.foto_time {
    margin-left: 2%;
    width: 70%;
    height: 80%;
    aspect-ratio: 2/1.2;
    background-image: url('https://images.pexels.com/photos/4341219/pexels-photo-4341219.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
}

.esquerda {
    display: flex;
    width: 70%;
    gap: 0 5%;
    align-items: center;
}

.descricao {
    font-family: 'montserrat';
    font-size: 1.2rem;
    color: #fff;
    font-weight: 200;
}

.descricao h4 {
    font-family: 'ragasta';
    font-size: 2.5rem;
    margin-bottom: 1%;
    color: rgb(224, 174, 11);
}

.direita {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;
}

.direita h4 {
    font-family: 'ragasta';
    color: rgb(224, 174, 11);
    font-size: 2rem;
    letter-spacing: 2px;
}

.direita a {
    color: #fff;
    font-family: 'montserrat';
    letter-spacing: 1px;
    font-weight: 200;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'ragasta';
    font-size: 1.2rem;
    line-height: 100%;
    color: rgb(224, 174, 11);
    margin-top: 50%;
}

.icon:hover {
    scale: 1.3;
    fill: rgb(224, 174, 11);
    cursor: pointer;
}

.instagram {
    width: 25px;
    position: absolute;
    bottom: -100%;
    right: 10%;
    transition: .3s;
    fill: #fff;
}

.facebook {
    position: absolute;
    width: 15px;
    bottom: -93%;
    right: 35%;
    transition: .3s;
    fill: #fff;
}




.scroll {
    position: fixed;
    top: 200px;
    left: 100px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
}